*
{
    margin: 0;
    padding: 0;
    
}
.main
{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.50)50%,rgba(0,0,0,0.50)50%), url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    position: fixed;
    
}
.navbar
{
    width: 100%;
    height: 40px;
    float: left;
    margin: auto;
}
.icon
{
    width: 250px;
    height: 50px;
    padding-top: 40px;
    padding-left: 50px;
    float: left;
    position: relative;
}
.logo
{
    color: orange;
    font-size: 40px;
    font-weight: bold;
    float: left;
}
.menu
{
    margin: auto;
    position: relative;
    float: left;
    
}
ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li
{
    list-style: none;
    margin-left: 40px;
    margin-top: 55px;
    font-size: 20px;
}
ul li a
{
    text-decoration: none;
    color: white;
    transition: 0.6s;
    font-weight: bold;
}
ul li a:hover
{
    color: orange;
}
#search
{
    margin-top: 45px;
    float: left;
    margin-left: 100px;
    width: 500px;
}
.srch
{
    width: 400px;
    height: 40px;
    border: 2px orange solid;
    background: transparent;
    border-radius: 5px;
    padding-left: 20px;
    color: white;
}
#button
{
    width: 60px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background: orange;
    color: white;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;
}
#button:hover
{
    background: white;
    color: orange;
}
#body
{
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    padding-right: 50px;
    float: right;
}
.textbox
{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border: 2px orange solid;
    border-radius: 5px;
    padding-left: 10px;
    background: transparent;
    color: white;
    box-sizing: border-box;
    position: relative;
    
    
}
#btn
{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background: orange;
    transition: 0.6s;
    font-weight: bold;
    color: white;
    border: 1px orange solid;
}
#btn:hover
{
    background: white;
    color: orange;
}
#forgot
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.6s;
}
#forgot:hover
{
    color:  orange;
}
#create
{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px orange solid;
    cursor: pointer;
    background: orange;
    transition: 0.6s;
    font-weight: bold;
    color: white;
}
#create:hover
{
    background: white;
    color: orange;
}
#loginto
{
    font-size: 25px;
    color: orange;
    font-weight: bold;
}
#welcome
{
    width: 700px;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.welcome
{
    color: orange;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
}

.login-error
{
    border-color: red;
    border-style: solid;
}





















































